In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd

# Read the CSV file into a pandas DataFrame
df_offensive = pd.read_csv("nba_offensive_points.csv")
df_prizepicks = pd.read_csv("prizepicks_popular.csv")
df_top50 = pd.read_csv("nba_top50_player_logs (1).csv")

In [5]:
df_offensive.head()
df_prizepicks.head()
df_top50.head()

   GP    PTS
0  56  104.0
1  54  105.0
2  52  106.3
3  54  108.6
4  54  109.1

   Unnamed: 0           Name  Value           Prop
0           0   LeBron James   24.0         Points
1           1  Miles Bridges   23.5         Points
2           2  Miles Bridges   35.5  Pts+Rebs+Asts
3           3  Rui Hachimura   16.0         Points
4           4  Austin Reaves   20.0         Points

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,SEASON,PLAYER_ID,PLAYER_NAME
0,22024,1628983,22400787,"FEB 13, 2025",OKC @ MIN,L,34,6,21,0.286,...,0,0,1,2,24,-12,1,2024-25,1628983,Shai Gilgeous-Alexander
1,22024,1628983,22400778,"FEB 12, 2025",OKC vs. MIA,W,38,11,22,0.500,...,2,0,1,4,32,19,1,2024-25,1628983,Shai Gilgeous-Alexander
2,22024,1628983,22400761,"FEB 10, 2025",OKC vs. NOP,W,31,10,20,0.500,...,3,1,1,1,31,12,1,2024-25,1628983,Shai Gilgeous-Alexander
3,22024,1628983,22400746,"FEB 08, 2025",OKC @ MEM,W,34,8,26,0.308,...,0,2,0,5,32,18,1,2024-25,1628983,Shai Gilgeous-Alexander
4,22024,1628983,22400739,"FEB 07, 2025",OKC vs. TOR,W,29,5,12,0.417,...,1,0,2,1,25,15,1,2024-25,1628983,Shai Gilgeous-Alexander